body{
   
}
.principal{
 background: #CCCCCC;
 padding: 30px;
}
#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1 {
    text-align:left;
    padding-left: 20px;
}
.titulo-centralizado {
    text-align: center;
}
ul{
    display:inline-block;
    vertical-align: top;
    margin-right: 15%;
    width: 15%;
}
.imagembeneficios{
    
    width: 50%;
    
}
p{
text-align: center;
}
#missao{
    font-size: 20px;
}

em strong{
    color: #FF0000;
}
.itens{
    font-style: italic;
    font-size: 18px;
}
.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

nav {
     position: absolute;
     top: 110px;
     right: 0px;
}
nav li {
    display: inline;
    margin: 0 0 0 10px;
}
nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
   
}
nav a:hover {
color: blanchedalmond;
}